.box {
	width: 550px;
	height: 550px;
	margin: 0px auto;
	border: thick outset aqua;
	transition: -webkit-transform 0.5s linear;
	-webkit-transform-origin: center center;
	-webkit-transform-style : preserve-3D;
} 
.box-rotate {
	-webkit-transform : rotate(180deg);
	-webkit-transform-origin: center center;
}